In [14]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from scipy.stats import chi2_contingency
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix

dataset = pd.read_csv(r'Z:\SEM-3\ML\day_9\decisionTree_computer.csv')
dataset

    Age  Salary  Purchased
0    19   19000          0
1    35   20000          0
2    26   43000          0
3    27   57000          0
4    19   76000          0
5    27   58000          0
6    27   84000          0
7    32  150000          1
8    25   33000          0
9    35   65000          0
10   26   80000          0
11   26   52000          0
12   20   86000          0
13   32   18000          0
14   18   82000          0
15   29   80000          0
16   47   25000          1
17   45   26000          1
18   46   28000          1
19   48   29000          1
20   45   22000          1
21   47   49000          1
22   48   41000          1
23   45   22000          1
24   46   23000          1
25   47   20000          1
26   49   28000          1
27   47   30000          1
28   29   43000          0
29   31   18000          0
30   31   74000          0
31   27  137000          1
32   21   16000          0
33   28   44000          0
34   27   90000          0
35   35   27000          0
36   33   28000          0
37   30   49000          0
38   26   72000          0
39   27   31000          0
40   27   17000          0
41   33   51000          0
42   35  108000          0
43   30   15000          0
44   28   84000          0
45   23   20000          0
46   25   79000          0
47   27   54000          0
48   30  135000          1

In [15]:
x = dataset.iloc[:,[0,1]].values

In [16]:
y = dataset.iloc[:,2].values

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [18]:
classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)

In [19]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [20]:
x_train

array([[    47,  30000],
       [    30, 135000],
       [    26,  43000],
       [    25,  79000],
       [    46,  28000],
       [    29,  80000],
       [    29,  43000],
       [    48,  41000],
       [    47,  25000],
       [    33,  51000],
       [    45,  22000],
       [    35, 108000],
       [    25,  33000],
       [    32,  18000],
       [    47,  20000],
       [    27,  58000],
       [    45,  26000],
       [    35,  27000],
       [    18,  82000],
       [    26,  72000],
       [    35,  20000],
       [    20,  86000],
       [    30,  15000],
       [    46,  23000],
       [    27,  84000],
       [    45,  22000],
       [    33,  28000],
       [    47,  49000],
       [    48,  29000],
       [    35,  65000],
       [    27,  31000],
       [    23,  20000],
       [    27,  57000],
       [    19,  19000],
       [    27,  54000],
       [    28,  84000]], dtype=int64)

In [21]:
y_train

array([1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [22]:
y_pred = classifier.predict(x_test)

In [23]:
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)