In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from scipy.stats import chi2_contingency

df = pd.read_csv(r'Z:\SEM-3\ML\day_7\august_senate_polls.csv',usecols=['senate_class','absolute_error']).head(100)
df

    senate_class  absolute_error
0              3           18.43
1              3            4.43
2              3            2.86
3              3            4.34
4              3            6.43
..           ...             ...
95             2           16.36
96             2            4.86
97             2           18.07
98             2           11.47
99             2            9.33

[100 rows x 2 columns]