In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from scipy.stats import chi2_contingency
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB


df = pd.read_csv(r'Z:\SEM-3\ML\day_8\Life Expectancy Data.csv')
df

,Country,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Status
0,Afghanistan,2015,65.0,263,62,0.01,72,Developing
1,Afghanistan,2014,59.9,271,64,0.01,74,Developing
2,Afghanistan,2013,59.9,268,66,0.01,74,Developing
3,Afghanistan,2012,59.5,272,69,0.01,79,Developing
4,Afghanistan,2011,59.2,275,71,0.01,8,Developing
...,...,...,...,...,...,...,...,...
299,Bhutan,2004,64.2,263,1,0.96,3,Developing
300,Bhutan,2003,63.3,273,1,0.52,20,Developing
301,Bhutan,2002,62.5,282,1,0.29,152,Developing
302,Bhutan,2001,61.7,29,1,0.14,9,Developing
303,Bhutan,2000,62.0,312,1,0.17,94,Developing

In [12]:
contingency = pd.crosstab(df['Country'],df['Status'])

In [13]:
contingency

Status               Developed  Developing
Country
Afghanistan                  0          16
Albania                      0          16
Algeria                      0          16
Angola                       0          16
Antigua and Barbuda          0          16
Argentina                    0          16
Armenia                      0          16
Australia                   16           0
Austria                     16           0
Azerbaijan                   0          16
Bahamas                      0          16
Bahrain                      0          16
Bangladesh                   0          16
Barbados                     0          16
Belarus                      0          16
Belgium                     16           0
Belize                       0          16
Benin                        0          16
Bhutan                       0          16

In [14]:
ch,p,dpf,e=chi2_contingency(contingency)

In [15]:
alpha = 0.7

In [16]:
reject_H0 = p < alpha

In [17]:
reject_H0

True